<div>
      <p> Idk what's weirder the fact that this site exists or that you navigated to it </p>
      <p> enjoy the gifs peasants </p>

      <iframe src="//giphy.com/embed/3o7qDQFzaluDPcDtrq" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/jean-luc-3o7qDQFzaluDPcDtrq"></a></p>
      <iframe src="//giphy.com/embed/3o7qDGF4xiPzp8jW0g" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/jean-luc-3o7qDGF4xiPzp8jW0g"></a></p>
      <iframe src="//giphy.com/embed/3oFyDgQp4ZhMp3r7lm" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/wundergif-daydream-juan-lucas-3oFyDgQp4ZhMp3r7lm">WHERE AM I</a></p>
</div>
