<!DOCTYPE html>
<html>
<head>
    <title>Juan Lucas | Movies</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
  <h1> RTB Films </h1>

  <p> You should watch <movie> {{ movie['Film'] }}</movie> ({{ movie['Year'] }}) I gave it a <movie> {{ movie['Rating'] }}</movie> out of 4!</p>

  <a href="/films"><button type="button" style="height:50px; width:250px">Recommend Again!</button></a>
  <br> <br>
  <a href="/films">  <iframe src="//giphy.com/embed/xThuWcZzGnonnG3ayQ" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></a></p>
</html>
