<!DOCTYPE html>
<html>
<head>
    {% include "gtm.html" %}
    <title>Juan Lucas | Lights</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>


        <div class="jumbotron">
            <h1> Wi-Fi enabled smart lights via Arduino </h1>

            <br><br><br>
            <h2> So yea we made some smart lights</h2>

            <p> But you gotta start somewhere, we all know Rome wasn't built in one day</p>

            <br><br><br>

            <p> So you gotta make your own prototype to scope out the analysis and
                 gain an understanding of the undertaking of future projects </p>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/rSspRczzTCc" frameborder="0" allowfullscreen></iframe>

            <br><br><br>
            <h2> Ground Up </h2>

            <p> you start from the ground up, now we got the colors changing </p>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/d_8Vki2jkzM" frameborder="0" allowfullscreen></iframe>

            <br><br><br>
            <h2> Views from the Rich </h2>
            <p> Loft in the 'burbs laying in a queen size bed under two blankets, too lazy to stand up</p>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/IkMu_Sck8ZM" frameborder="0" allowfullscreen></iframe>

        </div>

</html>
