<!DOCTYPE html>
  <html>

    <head>
        {% include "gtm.html" %}
        <h1> {{ title }}  </h1>
    </head>

      <body>
        <p> You are receiving picks {{ pageInfo['picks_in']['picks'] }} </p>
        <p> You are giving away picks {{ pageInfo['picks_out']['picks'] }} </p>
        <p></p>
        <h5> Trade Results: <u>{{ pageInfo['trade_grade']}}</u></h5>

        <div class ="container; vcenter">
        <table>
              <tr>
                <td><h5> Picks In </h5></td>
                <td><h5> Picks Out </h5></td>
                <td><h5> Trade Results </h5></td>
              </tr>
              <tr>
                <td><h5> Probability of... </h5></td>
                <td><h5> Probability of... </h5></td>
                <td><h5> Change in Probability of... </h5></td>
              </tr>
        {% for post in pageInfo['picks_sorted']%}
            <tr>
                <td style="width:30%"><h7>{{ post }}: {{ pageInfo['picks_in']['cleanValue'][post]  }}</h7></td>
                <td style="width:30%"><h7>{{ post }}: {{ pageInfo['picks_out']['cleanValue'][post]  }} </h7></td>
                <td style="width:30%"><h7>{{ post }}: {{ pageInfo.trade[post] }}</h7> </td>
            </tr>
        {% endfor %}
         </table>
        </div>

        <div>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        <form method="post" autocomplete="on" action="{{ url_for('nfl') }}">

        <div style="text-align:center;margin-right:auto;margin-left:auto">
            <table style="width:80%" align="center">
              <tr>
                <td><h6><label for="incoming_picks">Picks In</label></h6>(separate with commas)</td>
                <td><h6><label for="outgoing_picks">Picks Out</label></h6>(separate with commas)</td>
              </tr>
              <tr>
                <td><input style="font-size: 10pt; width:40%; text-align:center" type="text" name="incoming_picks" value= {{ pageInfo['picks_in']['picks_in_string'] }}></td>
                <td><input style="font-size: 10pt; width:40%; text-align:center" type="text" name="outgoing_picks" value= {{ pageInfo['picks_out']['picks_out_string'] }}></td>
              </tr>
            </table>
            <td><input type="submit" style="font-size: 2em; width: 4em; height:2em; border:none" value="Update"/></td>
          </form>
        </div>

      </body>

</html>
