<!DOCTYPE html>
<html>
<head>
    <title> Show Up, Ball Out | {{ teamInfo['Team'] }}</title>
    <h1> {{ teamInfo['Team'] }} Team {{ teamInfo['Sport'] }} Calendar</h1>
    {% include "gtm.html" %}
</head>


    <div class='page'>
        <h3> Next Event - {{ teamInfo['Team'] }} ({{ teamInfo['Sport'] }})</h3>
        <h3> {{ eventInfo['Weekday'] }}, {{ eventInfo['Date'] }} </h3>
        <h3> {{ eventInfo['Start_Time'] }} @ {{ eventInfo['Location'] }} </h3>
        <h3> Opponent: {{ eventInfo['Opponent'] }} </h3>
        <p></p>
        <a  href= "{{ teamInfo['URL'] }}"> CLICK HERE FOR THE FULL SCHEDULE</h4> </a>

        <!-- <h3> Confirmed Players: {{ eventInfo }} </h3>
        <h3> Declined Players: {{ eventInfo }} </h3> -->

    </div>


</html>
