<!DOCTYPE html>
    {% include "gtm.html" %}

    <meta name="robots" content="noindex, nofollow" />
    <body>
        <div id="container">
            <div class="title">
                <h1 style="margin-left:8%; margin-right:8%">404 Page</h1>
            </div>

          <div>

          </div>

          <div class="jumbotron">


            <h2> Well this isn't supposed to happen </h2>
            <br><br>
            <p>Error 404 Page</p>
            <h2><a href=/>Return Home</a></h2>

            <br><br>

    </body>

    {% include "footer.html" %}

</html>
