<!DOCTYPE html>
<html>
<head>
    {% include "gtm.html" %}

</head>
  <h1> BIOGRAPHY </h1>

  <p>  You and I, we're not so different you see. I was born on a ranch but quickly lost at sea.
    In the middle of the desert.  So yea crazy start.
    But I kept my head up I've never jumped out of a vehicle on the highway.
    I've twice fought hand to hand on the top of a high speed train. </p>

  <h1> UNDEFEATED in fights to the death !! </h1>

  <p> Yours Truly <br> The Albanian Kid, <br> John's Luck </p>


  <h2>Other facts of life </h2>


  <p> Math/Econ Double Major </p>

  <p> President x Co-Founder Williams Sports Analytics </p>

  <p> Follow me on Twitter:  <a target="_blank" href=http://twitter.com/mynamejl > @mynamejl </a> <p>

  <p> Direct Contact <a href=mailto:jletienne5@gmail.com > jletienne5@gmail.om </a><p>

 <p> Made in the USA</p>


</html>
