<!DOCTYPE html>
<html>
<head>
    {% include "gtm.html" %}

</head>
  <h1 style="margin-left:8%; margin-right:8%"> About Jean-Luc Etienne </h1>


<div class="jumbotron">
 <img src="/static/images/jet-aka-juan-lucas.png" height=400 alt="Jet Logo" />
</div>
 <!--img src="{{url_for('static', filename='Etienne-Headshot-Business.jpg', height=400)}}" /-->
  <div class="main-content">

    <h2>Sections</h2>
    <p>
      <a href="#bio">Bio</a>
      <br>
      <a href="/football">FOOTBALL</a>
      <br>
      <a href="#influences">Influences</a>
      <br>
      <a href="#skills">Skills</a>
      <br>
      <a href="#site-info">Site Info</a>
      <br>
      <a href="#sports">Sports</a>
      <br>
      <a href="#contact">Contact</a><br>
    </p>

  <h2 id="bio"> Jean-Luc Etienne Bio </h2>
  <p>
    Jean-Luc "JL" Etienne is a digital marketer, residing in Kansas City, MO (via <a target="_blank" href=https://en.wikipedia.org/wiki/Dallas title="Dallas, TX"> Dallas, Texas</a>).
    He was born in Ann Arbor, MI (<a href="https://twitter.com/jetiennem/status/878355594746318848"> GO BLUE</a>) and grew up in Barrington, IL.

    <br> <br>
    <img src="/static/images/Jean-Luc-Etienne-Youth-Photo.jpg" align="middle" height=400 alt="Jean-Luc Etienne" />

    <br><br>
    Jean-Luc spent his childhood playing on a basketball hoop in front of his house, often challenging neighbors at a young age.
    This competetiveness translated in video games and Jean-Luc would constantly hone his football knowledge playing Madden and NFL Street.

    <br><br>
    After graduating from Barrington High School,
    Jean-Luc studied at highly ranked private liberal arts school <a target="_blank" href=http://williams.edu title="Williams College">Williams College</a>
    in Williamstown, MA completing his Bachelor's Degree with a double major in Math and Econmics.

    <br><br>
    At Williams he was a four-year member of the Division III Williams Ephs <a href="/football"> football </a> team and participated in indoor track for a semester.

    <br><br>
    Jean-Luc is an avid learner. He enjoys reading blogs and consumes a curated RSS Feed about investing, marketing, tech, and sports.
    Always looking to grow, the purpose of this site is to develop skills in a digital world.

    <!--He has a wide variety of experience generating value for small and medium-sized businesses.-->

    In his spare time, he works on <a target="_blank" href=http://outtheleague.com title="Out The League">Out The League</a>,
    a digital <a target="_blank" href=http://outtheleague.com/category/sports title="Out The League">sports</a> and <a target="_blank" href=http://outtheleague.com/category/business title="Out The League">business</a> publication.
    Blog posts are released daily, meaning in 5 years he plans to have almost 2,000 posts.
  </p>

  <br><br>
  <h2 id="influences"> Influences </h2>

  Raised by the internet, Jean-Luc has numerous influences. You'll notice a common theme for all the influences.
  Many are uniquely enabled by new technology or used the internet's scale to reach them.
  I haven't met any of these individuals (though I did set next to Sam Hinkie at the Sloan Conference).
  <br><br>
  They are consistent with their work output. The bloggers are posting daily.
  Hinkie exuted more trades, acquired the rights to more international talent, and held more second rounders than any other NBA team.
  <br></br>
  <div class="container">
    <h3> Philosophers </h3>
    <div class="row">
      <div class="col">
        <div class="card" >
          <div class="card-body">
            <h3 class="card-title">Sam Hinkie</h3>
            <p class="card-text">Hinkie was the GM of the Philadelphia Sixers.
              The man had doubters, but he learned how to ignite a passionate fan base.
              Sam Hinkie's conviction is admirable.
              Instead of caving to the demands of his detractors, he stayed true to his beliefs. </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" >
          <div class="card-body">
            <h3 class="card-title">Nassim Taleb</h3>
            <p class="card-text">Nassim Taleb is Lebanese-American essayist and scholar with a focus on Tail Risk.
              Taleb hit the spotlight with his analysis of the 2007-08 financial crisis.
              His main thesis is to focus on investment upside while limiting long tail risk.
              </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" >
          <div class="card-body">
            <h3 class="card-title">Angela Duckworth</h3>
            <p class="card-text">I haven't read her book on <a href="https://www.barnesandnoble.com/w/grit-angela-duckworth/1122569881?ean=9781501111112#/">Grit</a>.
              But I've seen an <a target="_blank" href=https://chrishildrew.files.wordpress.com/2014/03/fixedgrowth-copy.jpg> infographic</a>
               on her work on the Growth Mindset. Taken too far the growth mindset can have ill effects but done properly it provides a platform for learning and growing as a person.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

      <br><br>

  <div class="container">
  <h3 id="bloggers"> Bloggers </h3>
  <div class="row">
    <div class="col">
      <div class="card" >
        <div class="card-body">
          <h3 class="card-title">Ed Weidland, Hoops Analyst</h3>
          <p class="card-text">Weidland wrote a blog on using college stats to analyze NBA Draft prospects.
                    He broke down how he thought prospects on scoring abilites, percenages and
                    40 Minute Pace Adjusted metrics.
                    Weidland didn't do anything fancy, he was basic statistics coupled with informative insight
                    and how a prospect would perform given his statistical profile. Weidland now works for an NBA team.
                    </p>
        </div>
    </div>
  </div>


  <div class="col" >
    <div class="card" >
      <div class="card-body">
        <h3 class="card-title">Kevin Hillstrom, MineThatData</h3>
        <p class="card-text">Kevin understands how business operate.
          You can catch him on twitter about yelling how marketers don't understand how to calculate profit.
          <br>Kevin has numerous opinions. But the most important, Customer Acquisition is the holy grail.
          If you want to grow your business, find more customers and find ways to get them to spend more.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" >
      <div class="card-body">
        <h3 class="card-title">Ben Thompson, Stratechery</h3>
        <p class="card-text">Ben Thopmson is instrumental if you want to learn about business models and economics in the internet age.
                              Much of Stratechery focuses on how zero marginal costs enabled by the internet have created a new
                              generation of businesses, laws, and assumptions about the future of industry.
                              His content is behind a paywall since this is primary job.</p>
      </div>
    </div>
  </div>
  </div>

    <br>
  <div class="row">
  <div class="col">
    <div class="card" >
      <div class="card-body">
        <h3 class="card-title">Johnny Sanfillipo, Granola Shotgun</h3>
        <p class="card-text">Responsible communities that thrive.
          Johnny is a anthropolist chronicling the development of community in city.
          Johnny's prepper mentality stems from his belief that human optimism has created poorly financed developments.
          He loudly disparages how cities are created with little consideration for ongoing maintenance,
          cities left to die for the next shiny new development. </p>
      </div>
    </div>
  </div>

  <div class="col">
    <!--style="width: 190rem;"-->
    <div class="card" >
      <div class="card-body">
        <h3 class="card-title">Shea Serrano, The Ringer</h3>
        <p class="card-text">GOAT Twitter follow. Serrano created a cult following on twitter with a
          "Casual is approachable, approachable is big" audience strategy.
          He posts jokes and a light hearted jokes on his page selling books and writing books on Basketball on pop culture.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" >
      <div class="card-body">
        <h3 class="card-title">Neil Patel, Internet Entrepreneur</h3>
        <p class="card-text">Consistent writing, opinions in the digital world.
          Neil provides tremendous value to marketers who want to learn the industry.
          His Daily Marketing School Podcast is provides quick actionable ideas that you can stand up for your business.
          And he knows SEO, his work on digital marketing always surfaces to the top of Google's SERP. </p>
      </div>
    </div>
  </div>
  </div>
  </div>

    <br><br>
  <h2 id="skills"> Skills </h2>
  <p> Python | R | Tableau | SQL | SAS | Data Analysis | KPI Reporting | Customer Strategy Automation | Personalization | Segmentation | Lifetime Value Expansion | Data Audits</p>

    <br>
  <h2 id="favorite-teams"> Jean-Luc Etienne Favorite Teams </h2>
  <p> Jean-Luc Trusts the process </p> Philadelphia 76ers

  <br><br>

  <h2 id="site-info">Site Info</h2>
  <p> The site was built with Python and Flask.
      It's based off of The <a target="_blank" href='https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world'>Flask Mega-Tutorial</a> by <a target="_blank" href='https://blog.miguelgrinberg.com/post/about-me'> Miguel Grinberg</a>.
      Web hosting is done on <a target="_blank" href='https://heroku.com'> Heroku</a>, while the
      code is hosted on <a target="_blank" href='https://github.com/jletienne' title="Jean-Luc Etienne Github Page"> GitHub</a> for version control.
      <br><br>
      I get it you can make a much better site on WordPress or Squarespace.
      That's fine with me, but to make something truly unique, you need to build it yourself.
      <br><br>
      That's why I didn't use Django. I'm forced to do everything from scratch so the site develops as I learn new skills.
      <br><br>
      You're looking at a Framework. How can I design a cohesive experience on the internet?
      How can I architect information in a clean and consistent manner?
      How can I to manage templates to reduce redunancy and create dynamic pages?
      And most importantly how can I improve the skills I have to create something truly worthwhile.
    </p>

    <br>

  <h2 id="sports">Sports </h2>
  Jean-Luc Etienne played <a href="/football"> football </a> at <a href=https://ephsports.williams.edu/sports/fball/2013-14/bios/etienne_jean_luc_qgfa title="Jean-Luc Etienne Williams College Running Back Player Page">Williams College</a>. Jean-Luc was a running back at the college
  from 2011-2015.
  <br><br>
  <img src="/static/jean-luc-etienne-williams-college-football-running-back.jpg" height=400 alt="Jean-Luc Etienne Williams College Running Back" />

  <br>
  <br>

  <img src='/static/images/Jean-Luc-Etienne-Carries-Football-Williams-vs-Amherst-2014.jpg' height=350 alt="Jean-Luc Etienne Rushes Football Williams vs Amherst Rivalry 2014">
  <br>
  <br>
  Jean-Luc Etienne played running back and wide receiver at Barrington High School.

  <br>
  <img src="/static/jean-luc-etienne-barrington-high-school-running-back.jpg" height=400 alt="Jean-Luc Etienne Williams College Running Back" />
  <br>
  <br>
  <p> Football: College Running Back | <a href=https://www.athletic.net/TrackAndField/Athlete.aspx?AID=2400528#!/L0 title="Jean-Luc Etienne Barrington High School Track"> Track<a>: HS State Qualifier, Regional Champion </p>
  <p> Baseball: Travel Baseball, OF/IF/P </p>
  <p> Basketball: Youth Recreational </p>
  <p> Hockey: Adult Recreational </p>

  <h2 id="education"> Education </h2>
  <ul> -<a target="_blank" href="https://en.wikipedia.org/wiki/Montessori_education"> Montessori</a> | Centennial Elementary | Countryside Elementary</ul>
  <ul> -Prairie Middle School | Barrington High School | Williams College </ul>

  <img src="/static/images/jean-luc-balcony.jpg" height=400 alt="Jean-Luc Etienne Standing on a Balcony" />

  <br><br>

  <h2 id="contact">Contact Jean-Luc Etienne</h2>
  <p> If you need anything, drop me a line. I prefer email since my phone is on <a href="https://outtheleague.com/do-not-disturb-is-the-best-feature-on-the-phone/"> Do Not Disturb</a> and <a href="https://outtheleague.com/voicemail/"> I don't use Voicemail<a>.</p>
  <p> President x Co-Founder Williams Sports Analytics </p>
  <p> Follow JL on Twitter:  <a target="_blank" href=http://twitter.com/mynamejl title="Jean-Luc Etienne Twitter Page"> @mynamejl </a> <p>
  <p> LinkedIN: <a target="_blank" href=https://linkedin.com/in/jletienne title="Jean-Luc Etienne LinkedIN Page"> @jletienne </a><p>
  <p> Github: <a target="_blank" href=https://github.com//jletienne title="Jean-Luc Etienne GitHub Page"> @jletienne </a><p>
  <p> Direct Contact: <a href=mailto:jletienne5@gmail.com title="Jean-Luc Etienne Email"> jletienne5@gmail.com </a><p>

 <p> Made in the USA</p>

 <br>
 <img src="/static/images/Jean-Luc-Etienne-Family.jpg" height=400 alt="Jean-Luc Etienne Family" />
 <br> <br>
</div>
{% include "footer.html" %}
</div>

</html>
