<!DOCTYPE html>
<html>
<head>
    {% extends "gtm.html" %}
    <title>Juan Lucas | Contact </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

  <p> you used to, you used to </p>

  <H1>  IF YOU WANT TO SAY HI IT'S VERY EASY TO REACH ME</h1>

  <br> <br>
  <br><h2> I actually don't exist in real life in solid form so if you an't find me you
  can definetely find my digital embodiment </h2>

  <p> Direct Contact <p>

  <a href=http://github.com/jletienne><p> GITHUB </p> </a>

  <a href=https://www.linkedin.com/in/jletienne/> <p> LINKEDIN </p> </a>

  <a href=https://www.facebook.com/jeanluc.etienne.54> <p> FACEBOOK <p> </a>

  <a href=http://twitter.com/mynamejl> <p> TWITTER <p> </a>

  <p> jletienne5@gmail.com </p>

</html>
