<!DOCTYPE html>
    {% include "gtm.html" %}
    <title>JL ETIENNE</title>
    <body>
        <div id="container">
            <div class="title">
                <h1>INTERNET PRESENCE OF JEAN-LUC ETIENNE</h1>
            </div>

            <br>     <br>
            <div class="jumbotron">
              <p> I always wanted to own my name, now that it's on the internet it's official
              (With the help of Python x Flask x Heroku) </p>

                <div>
                    <p> I am </p>

                    <p>   * The kid Jay Ellis </p>

                    <p>   * The man Juan Lucas </p>

                    <p>   * J Ellis </p>

                    <p> Jean-Luc Ocaya Etienne XXVII </p>
                </div>
            </div>


          <div class=main-content>
          <a href=/projects>  <h3> 1. SOMETIMES I MAKE PROJECTS CHECK THEM OUT HERE !!!! </h3> </a>
          <a href=/nfl-draft-stars>  <h3> 2. NFL DRAFT STARS </h3> </a>
          <a href=/sports-team-calendars>  <h3> 3. Sports Team Calendars </h3> </a>
          <br>



          <div>
                <h4> Oh the places you'll go! Here are some off the cities I've lived "nearby" </h4>
                <div class=main-content>
                    <movie> DET/CHI/BOS/DAL </movie>
                </div>
                <br>
                <br>
                <br>
          </div>
          </div>
    </body>

    {% include "footer.html" %}

</html>
