<!DOCTYPE html>
<html>
    <head>
        <title>Juan Lucas</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>WELCOME</h1>
            </div>

            <p> I always wanted to own my name, now that it's on the internet it's official
              (With the help of Powered by Python x Flask x Heroku) </p>

        <div>
            <p> I am </p>

            <p>   * The kid Jay Ellis </p>

            <p>   * The man Juan Lucas </p>

            <p>   * J Ellis </p>

            <p> Jean-Luc Ocaya Etienne XXVII </p>
      </div>

          <a href=projects>  <h3> SOMETIMES I MAKE PROJECTS CHECK THEM OUT HERE !!!! </h3> </a>

      <div>
            <h3> Oh the places you'll go! Here are some off the cities I've live "nearby" </h3>
            <p> DET/CHI/BOS/DAL </p>

            <h3> I went to school too! </h3>
            <p> Montessori </p>
            <p> Centennial Elementary </p>
            <p> Countryside Elementary </p>
            <p> Prairie Middle School </p>
            <p> Barrington High School </p>
            <p> Williams College </p>
      </div>

      <p> Idk what's weirder the fact that this site exists or that you navigated to it </p>
      <p> enjoy the gifs peasants </p>

            <iframe src="//giphy.com/embed/3o7qDQFzaluDPcDtrq" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/jean-luc-3o7qDQFzaluDPcDtrq"></a></p>
            <iframe src="//giphy.com/embed/3o7qDGF4xiPzp8jW0g" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/jean-luc-3o7qDGF4xiPzp8jW0g"></a></p>
            <iframe src="//giphy.com/embed/3oFyDgQp4ZhMp3r7lm" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/wundergif-daydream-juan-lucas-3oFyDgQp4ZhMp3r7lm">WHERE AM I</a></p>
            </div>
    </body>
</html>
