<!DOCTYPE html>
    {% include "gtm.html" %}

    <body>
        <div id="container">
            <div class="title">
                <h1 style="margin-left:8%; margin-right:8%">JEAN-LUC ETIENNE INTERNET PRESENCE</h1>
            </div>

            <div class="jumbotron">
              <h2> Howdy, I'm Jean-Luc </h2>
              <p> Jean-Luc Etienne is a Digital Analytics Consulant focused on helping small and medium-sized businesses leaders
              take an analytical approach to their business. <a href=/about>Jean-Luc</a> is an expert in Digital Analytics focused around Google Analytics.
              <br><br>
              Customer Insights is a core component to understanding your customers.
              Jean-Luc uses a combination of R/Python/SQL/Postgres/AWS/Heroku to do the dirty work and get into the data.

              <br> <br>
              Jean-Luc writes software, maintains spreadsheets, and creates dashboards
              to uncover business insights.
              JL looks at data novel ways to analyze, business performance, merchandise effectiveness, and customer behavior!
              By looking at a combination of web traffic, conversions, customer acquisition, retention and buyer behavior
              you can get a better view into your business. </p>

          <br> <br>
          <div class="main-content">
          <a href=/projects>  <h3> 1. SOMETIMES I MAKE PROJECTS CHECK THEM OUT HERE !!!! </h3> </a>
          <a href=/nfl-draft-stars>  <h3> 2. NFL DRAFT STARS </h3> </a>
          <a href=/sports-team-calendars>  <h3> 3. Sports Team Calendars </h3> </a>
          <br>

          <div>
                <h4> Oh the places you'll go! Here are some off the cities I've lived "nearby" </h4>
                <div class=main-content>
                    <movie> DET/CHI/BOS/DAL </movie>
                </div>
                <br>
                <br>
                <br>
          </div>
          </div>
    </body>

    {% include "footer.html" %}

</html>
