<!DOCTYPE html>
<html>
<head>
    {% include "gtm.html" %}

</head>
  <h1 style="margin-left:8%; margin-right:8%"> Jean-Luc Etienne Football </h1>


  <div class="main-content">
  <h2 id="sport"> The Sport that Loved Me </h2>
  <p>
    JL played football starting in 6th grade, playing quarterback for the Barrington Broncos.



    <br>

  <h2 id="Photos">Williams College Football</h2>
  Jean-Luc Etienne played football at Williams College. He was a running back at the college
  from 2011-2015.
  <br><br>

  <img src='/static/images/Jean-Luc-Etienne-Williams-Amherst-Football.jpg' height=350 alt="Jean-Luc Etienne Rushes Football Williams vs Amherst Rivalry 2014">
  <br>
  <br>
  <img src='/static/images/Jean-Luc-Etienne-Williams-Celebration-Football.jpg' height=350 alt="Jean-Luc Etienne Rushes Football Williams vs Amherst Rivalry 2014">
  <br>
  <br>

  <img src='/static/images/Jean-Luc-Etienne-Williams-Touchdown-Football.jpg' height=350 alt="Jean-Luc Etienne Rushes Football Williams vs Amherst Rivalry 2014">
  <br>
  <br>
  <img src='/static/images/Jean-Luc-Etienne-Williams-Wesleyan-Football.jpg' height=350 alt="Jean-Luc Etienne Rushes Football Williams vs Amherst Rivalry 2014">

  <br>
  <br>

  <img src="/static/jean-luc-etienne-williams-college-football-running-back.jpg" height=400 alt="Jean-Luc Etienne Williams College Running Back" />

  <br>
  <br>

  <img src='/static/images/Jean-Luc-Etienne-Carries-Football-Williams-vs-Amherst-2014.jpg' height=350 alt="Jean-Luc Etienne Rushes Football Williams vs Amherst Rivalry 2014">
  <br>
  <br>

  Jean-Luc Etienne played running back and wide receiver at Barrington High School.

  <br>
  <img src="/static/jean-luc-etienne-barrington-high-school-running-back.jpg" height=400 alt="Jean-Luc Etienne Williams College Running Back" />
  <br>
  <br>



 <br>

</div>
{% include "footer.html" %}
</div>

</html>
