<!DOCTYPE html>
    {% include "gtm.html" %}

    <title>Jean-Luc Etienne Links</title>
    <body>
        <div id="container">
            <div class="title">
                <h1 style="margin-left:8%; margin-right:8%">Jean-Luc Etienne Links</h1>
            </div>

          <br> <br>
          <div class="main-content">
          <a href=https://github.com/jletienne>  <h3> GitHub </h3> </a>
          <a href=https://linkedin.com/in/jletienne>  <h3> LinkedIN </h3> </a>
          <a href=https://twitter.com/mynamejl>  <h3> Twitter </h3> </a>
          <br>

    </body>

    {% include "footer.html" %}

</html>
