<!DOCTYPE html>
<html>
    <head>
        {% include "gtm.html" %}
        <title>Juan Lucas | Projects</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Here are some things I've made</h1>
            </div>

            <a href=lights>  <h3> Arduino Powered Wi-Fi Enabled Smart Lights </h3> </a>
            <p> No candle lights in here, and lightbulbs are boring</p>
            <p> In my day if you wanted to smart lights you made them yourself!</p>

            <a href=films>  <h3> RTB Films </h3> </a>
            <p> You're a grown up now you don't need to make your own decisions, but why should you</p>
            <p> Problem solved this let Richie recommend movies for you to watch!</p>
            <p> that's just one problem, I'm not doing the dishes for you</p>

            <a href=shopping>  <h3> Shopping Spider </h3> </a>
            <p> Who are two people that you best describe you </p>
            <p> Easy I'm like a cross between Steve Jobs, Sterling Archer, and Kawhi Leonard</p>
            <p> I wear the same thing every day, don't talk much, and use the same repetitive jokes when i do</p>

        </div>
    </body>
</html>
