<!DOCTYPE html>
<html>
    <head>
        {% include "gtm.html" %}
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    </head>

    <body>

        <h1 style="margin-left:8%; margin-right:8%"> {{ title }}</h1>
        <div id="container">

          <div class="main-content">
                <p> Here are some things I've made. A list of Projects by <a href=/about title="Jean-Luc Etienne">Jean-Luc Etienne</a></p>


            <h2> Jean-Luc Etienne Hobby Projects </h2>
            <a href=/arduino-wifi-smart-lights>  <h3> Arduino Powered Wi-Fi Enabled Smart Lights </h3> </a>
            <p> No candle lights in here, and lightbulbs are boring</p>
            <p> In my day if you wanted to smart lights you made them yourself!</p>

            <a href=films>  <h3> RTB Films </h3> </a>
            <p> You're a grown up now you don't need to make your own decisions, but why should you</p>
            <p> Problem solved this let Richie recommend movies for you to watch!</p>
            <p> that's just one problem, I'm not doing the dishes for you</p>

            <a href=/automated-personal-shopper>  <h3> Shopping Spider </h3> </a>
            <p> Who are two people that you best describe you </p>
            <p> Easy I'm like a cross between Steve Jobs, Sterling Archer, and Kawhi Leonard</p>
            <p> I wear the same thing every day, don't talk much, and use the same repetitive jokes when i do</p>

            <h2> Jean-Luc Etienne Sports Projects </h2>
            <a href=/nfl-draft-trade-calculator>  <h3> NFL Draft Trade Calculator </h3> </a>
            <p> NFL Draft Trade Calculator compares trade value of picks</p>
            <p> Figure out how badly the Bills get ripped off in trades</p>

            <a href=/nba-draft-trade-calculator>  <h3> NBA Draft Trade Calculator </h3> </a>
            <p> NBA Draft Trade Calculator compares trade value of picks</p>
            <p> When are NBA stars drafted</p>

            <a href=/football-expected-wins-calculator>  <h3> Football Expected Wins Calculator </h3> </a>
            <p> Find the pythogorean expecation for calculating football wins</p>
            <p> Just use points for and points against</p>
            </div>


        </div>
    </body>
        {% include "footer.html" %}
</html>
