<!DOCTYPE html>
    {% include "gtm.html" %}

    <body>
        <div id="container">
            <div class="title">
                <h1>JL ETIENNE SITEMAP</h1>
            </div>

            <br>     <br>

            <div class="jumbotron">
              <a href=/projects title="Projects"><h2>Projects</h2>
              <a href=/films title="Films"><p>Films</p>
              <a href=/arduino-wifi-smart-lights title="Lights"><p>Lights</p>
              <a href=/automated-personal-shopper title="Shopping"><p>Shopping</p>
              <a href=/nba-draft-trade-calculator title="NBA Draft Stars"><p>NBA Draft Stars</p>
              <a href=/nfl-draft-trade-calculator title="NFL Draft Stars"><p>NFL Draft Stars</p>
              <br>
              <a href=/About title="About"><h2>About</h2>

            </div>
        </div>





    {% include "footer.html" %}

</html>
