<!DOCTYPE html>
<html>
<head>
    {% include "gtm.html" %}

</head>

  <h1 id="site-info">Site Info</h1>

  <div class="main-content">



  <h2> What is the point of this site <h2>
  <p> The site was built with Python and Flask.
      It's based off of The <a target="_blank" href='https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world'>Flask Mega-Tutorial</a> by <a target="_blank" href='https://blog.miguelgrinberg.com/post/about-me'> Miguel Grinberg</a>.
      Web hosting is done on <a target="_blank" href='https://heroku.com'> Heroku</a>, while the
      code is hosted on <a target="_blank" href='https://github.com'> GitHub</a> for version control.
      <br>
      I get it you can make a much better site on WordPress or Squarespace.
      That's fine with me, but to make something truly unique you need to build it yourself.
      That's why I didn't use Django. Ideally the site develops as I learn new skills.
      You're looking at a Framework. How can I design a cohesive experience on the internet?
      How can I architect information in a clean and consistent manner?
      HOw can I to manage templates to reduce redunancy and create dynamic pages?
      And most importantly how can I improve the skills I have to create something truly worthwhile.
    </p>

    </div>
